/********************************************
          MARKDOWN ENHANCEMENTS
********************************************/

/* Example BLocks */
.pre-wrap-white-space {
    background-color: hsl(var(--cl-secondary), 0.05);
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid hsl(var(--cl-secondary));
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: unset;
    border-radius: 0px;
}

.pre-wrap-white-space:before {
    content: "\ef40";
    font-family: 'tabler-icons';
    align-self: center;
    color: hsl(var(--cl-secondary));
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}

.external-link {
    padding: 2px 4px;
    border-radius: 3px;
    border: 0;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

/* Body Text */
.flex.flex-row ~ .block-body > .is-paragraph {
    font-size: small;
    color: hsl(var(--cl-text-color), 0.8);
    font-weight: 300;
}

/* Inline Code */
:not(pre):not(mark)>code:before, :not(pre):not(mark)>code:after {
    content: "`";
}
:not(pre):not(mark)>code {
    padding: 2px 5px !important;
    background-color: hsl(var(--cl-primary), 0.05);
    color: hsl(var(--cl-primary));
}

/* Highlights */
mark {
    background-color: transparent;
    padding: 0px !important;
    border-radius: 1px;
    text-decoration: underline;
    text-decoration-color: var(--cl-yellow, #eedd27);
    text-decoration-thickness: 4px;
    color: var(--ls-primary-text-color);
    text-underline-offset: 0px;
    text-decoration-skip-ink: none;
}
mark>code {
    background-color: transparent !important;
    color: hsl(var(--cl-primary), 1) !important;
    line-height: inherit!important;
    padding: 0px 2px;
}
mark>code:before, mark>code:after {
    content: "`";
}
/* Blockquotes */
blockquote {
    background-color: hsl(var(--cl-accent), 0.05);
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid hsl(var(--cl-accent));
    padding-top: 15px;
    padding-bottom: 15px;
}

blockquote:before {
    content: "\ee09";
    font-family: 'tabler-icons';
    align-self: center;
    color: hsl(var(--cl-accent));
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}

/*  === Headings ===  */
.editor-inner .multiline-block:is(.h1,.h2,.h3,.h4,.h5,.h6):first-line, .editor-inner .uniline-block:is(.h1,.h2,.h3,.h4,.h5,.h6), .ls-block :is(h1,h2,h3,h4,h5,h6) {
    font-weight: 400;
}
.editor-inner .uniline-block:is(.h1,.h2), .ls-block :is(h1,h2) {
    margin: 0px;
}
.ls-block h1, .editor-inner .uniline-block.h1 {
    font-size: 128% !important;
    border-bottom: 0px;
  }
.ls-block h2, .editor-inner .uniline-block.h2 {
    font-size: 124% !important;
    border-bottom: 0px;
}
.ls-block h3, .editor-inner .uniline-block.h3 {
    font-size: 120% !important;
}
.ls-block h4, .editor-inner .uniline-block.h4 {
    font-size: 116% !important;
}
.ls-block h5, .editor-inner .uniline-block.h5 {
    font-size: 112% !important;
}
.ls-block h6, .editor-inner .uniline-block.h6 {
    font-size: 108% !important;
}

/* === PRIORITIES === */
a[priority]:not(a[priority=""])::before, a.priority::before {
    font-size: 16px;
    font-family: 'tabler-icons';
    vertical-align: bottom;;
  }
  a[priority]:not(a[priority=""]), a.priority {
    font-size: 0px;
    opacity: 0.8;
    font-weight: 500;
  }
  a[priority="A"]::before, a.priority[href="#/page/A" i]::before {
      content: "\ea66";
      color: #ef4444;
  }
  a[priority="B"]::before, a.priority[href="#/page/B" i]::before {
    content: "\ee87";
    color: #f59e0b;
  }
  a[priority="C"]::before, a.priority[href="#/page/C" i]::before {
      content: "\ea5f";
      color: #3b82f6;
  }

/*  === Checkboxes ===  */
.form-checkbox {
    background-color: var(--cl-checkbox-background, --bg-dark) !important;
    border: var(--cl-checkbox-border, 1px);
    border-style: solid;
    border-color: hsl(var(--cl-text-color), 0.15);
    border-radius: var(--cl-checkbox-radius, 50%);
    position: relative;
    opacity: var(--cl-checkbox-opacity, 1);
    top: -1.6px;
    width: 14px;
    height: 14px;
}
.form-checkbox:checked {
    background-color: hsl(var(--cl-primary), 0.4);
    border: 1px solid hsl(var(--cl-primary), 0.2);
    opacity: 0.6;
}

/* TASK NAMES */
.block-marker {
    font-family: "SF Pro Text", "Euclid Circular A", Inter;
    font-size: inherit;
    color: hsl(var(--cl-secondary), (0, 0, 50));
    opacity: 0.5;
    font-weight: 500;
}
.block-marker:hover {
    color: hsl(var(--cl-secondary));
    opacity: 1;
}
.block-marker.TODO, .block-marker.DOING, .block-marker.NOW, .block-marker.wait, .block-marker.waiting, .block-marker.LATER {
    font-size: var(--cl-marker-size, 0px);
    color: hsl(var(--cl-marker-color, --cl-secondary));
    font-weight: 600;
}
.block-marker:hover:before {
    opacity: 1;
}
.block-marker.TODO:before, .block-marker.DOING:before, .block-marker.NOW:before, .block-marker.WAIT:before, .block-marker.waiting:before, .block-marker.LATER:before {
    font-size: var(--cl-marker-pre-size, 16px);
    font-weight: 700;
    color: hsl(var(--cl-marker-color, --cl-secondary));
    opacity: 0.9;
}
/*
.block-marker.TODO:before {
    content: " ";
    background-color: forestgreen;
    font-size: 3px;
    opacity: 1;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: -1.5px;
    margin-left: -7px;
    padding-right: 3px;
    margin-right: 2px;
    padding-top: 6px;
}
.block-marker.DOING:before {
    content: " ";
    background-color: orange;
    font-size: 3px;
    opacity: 1;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: -1.5px;
    margin-left: -7px;
    padding-right: 3px;
    margin-right: 2px;
    padding-top: 6px;
}
.block-marker.NOW:before {
    content: " ";
    background-color: firebrick;
    font-size: 3px;
    opacity: 1;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: -1.5px;
    margin-left: -7px;
    padding-right: 3px;
    margin-right: 2px;
    padding-top: 6px;
}
.block-marker.wait:before {
    content: " ";
    background-color: darkgray;
    font-size: 3px;
    opacity: 1;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: -1.5px;
    margin-left: -7px;
    padding-right: 3px;
    margin-right: 2px;
    padding-top: 6px;
}
.block-marker.waiting:before {
    content: " ";
    background-color: darkgray;
    font-size: 3px;
    opacity: 1;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: -1.5px;
    margin-left: -7px;
    padding-right: 3px;
    margin-right: 2px;
    padding-top: 6px;
}
.block-marker.LATER:before {
    content: " ";
    background-color: dodgerblue;
    font-size: 3px;
    opacity: 1;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: -1.5px;
    margin-left: -7px;
    padding-right: 3px;
    margin-right: 2px;
    padding-top: 6px;
}
*/
.block-marker.TODO:before {
    content: "T";
}
.block-marker.DOING:before {
    content: "D";
}
.block-marker.NOW:before {
    content: "N";
}
.block-marker.WAIT:before {
    content: "W";
}

.block-marker.waiting:before {
    content: "W";
}
.block-marker.LATER:before {
    content: "L";
}
.mr-1.flex.flex-row.items-center.sm\:mr-2 {
    position: relative;
    top: 2px;
}

/*.page-property-key:before {
    content: "\ee8f";
    font-family: 'tabler-icons';
    padding-right: 4px;
    vertical-align: bottom;
    color: hsl(var(--cl-text-color), 0.75);
    font-weight: 100;
    vertical-align: baseline;
}*/

.page-property-key[data-ref="source"]:before {
    content: "\eb54";
}
.page-property-key[data-ref="author"]:before {
    content: "\eb4d";
}
.page-property-key[data-ref="summary"]:before {
    content: "\ee09";
}
.page-property-key[data-ref="file"]:before {
    content: "\eaa4";
}
.page-property-key[data-ref="file-path"]:before {
    content: "\eaa4";
}
.page-property-key[data-ref*="resource"]:before {
    content: "\eff2";
}
.page-property-key[data-ref*="keywords"]:before {
    content: "\eabc";
}
.page-property-key[data-ref*="tags"]:before {
    content: "\ef86";
}
.page-property-key[data-ref*="status"]:before {
    content: "\ea5e";
}
.page-property-key[data-ref*="date"]:before {
    content: "\ea53";
}

/*.page-properties .inline.mr-1:before {
    content: "â—";
    color: var(--ls-block-bullet-color);
    padding-right: 10px;
    vertical-align: middle;
    font-size: 8px;
}
    
.page-properties > div > .page-property-key {
    display: -webkit-inline-box;
    min-width: 220px;
    max-width: 220px;
    text-transform: capitalize;
    font-weight: 400;
}
    
.page-properties {
      background: transparent !important;
      display: inline-block;
}
.page-properties > div > span.mr-1 {
    display: none;
}
    
.page-properties > div {
      padding: 2px 0px;
      display: flex;
}

.pre-block .bullet-container {
    display: none;
}

/* ==== ADMON PANELS ==== */
.admonition-icon {
    display: none;
}
.abstract, .admonitionblock {
    margin: 0px;
}
.color-level .flex.flex-row.admonitionblock.align-items:is(.note, .tip, .warning, .important, .caution, .pinned):before {
    background-color: var(--bg-color-1);
}
.flex.flex-row.admonitionblock.align-items.note {
    background-color: #448aff0d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #448aff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}
.flex.flex-row.admonitionblock.align-items.note:before {
    content: "\eb04";
    font-family: 'tabler-icons';
    align-self: center;
    color: #448aff;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}
.flex.flex-row.admonitionblock.align-items.tip {
    background-color: #1ebfa50d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #1ebfa5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}
.flex.flex-row.admonitionblock.align-items.tip:before {
    content: "\ea51";
    font-family: 'tabler-icons';
    align-self: center;
    color: #1ebfa5;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}
.flex.flex-row.admonitionblock.align-items.important {
    background-color: #ff52520d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #ff5252;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}
.flex.flex-row.admonitionblock.align-items.important:before {
    content: "\eb48";
    font-family: 'tabler-icons';
    align-self: center;
    color: #ff5252;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}
.flex.flex-row.admonitionblock.align-items:is(.warning, .caution) {
    background-color: #ff91000d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #ff9100;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}
.flex.flex-row.admonitionblock.align-items:is(.warning, .caution):before {
    content: "\ea06";
    font-family: 'tabler-icons';
    align-self: center;
    color: #ff9100;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}
.flex.flex-row.admonitionblock.align-items.pinned {
    background-color: #7c4dff0d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #7c4dff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}
.flex.flex-row.admonitionblock.align-items.pinned:before {
    content: "\ed60";
    font-family: 'tabler-icons';
    align-self: center;
    color: #7c4dff;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}