/********************************************
          MARKDOWN ENHANCEMENTS
********************************************/

/* Example BLocks */
.pre-wrap-white-space {
    background-color: hsl(var(--cl-secondary), 0.05);
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid hsl(var(--cl-secondary));
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: unset;
    border-radius: 0px;
}

.pre-wrap-white-space:before {
    content: "\ef40";
    font-family: 'tabler-icons';
    align-self: center;
    color: hsl(var(--cl-secondary));
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}

.external-link {
    color: hsl(var(--cl-secondary));
    padding: 2px 4px;
    border-radius: 3px;
    border: 0;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 0px;
    text-underline-offset: 2px;
}

/* Body Text */
.flex.flex-row ~ .block-body > .is-paragraph {
    font-size: smaller;
    color: hsl(var(--cl-text-color), 0.8);
}
.flex.flex-row ~ .block-body > .is-paragraph .block-ref {
    color: hsl(var(--cl-text-color), 0.8);
}
/* Inline Code */
:not(pre):not(mark)>code {
    padding: 1px 6px !important;
    background-color: hsl(var(--cl-text-color), 0.1);
    color: var(--ls-primary-text-color);
    border-radius: 3px;
    font-family: "SF Mono",MonoLisa,Fira Code,Monaco,Menlo,Consolas,COURIER NEW,monospace;
}
:not(pre):not(mark)>code:before {
    content: "\ea61";
    color: hsl(var(--cl-accent));
    font-family: 'tabler-icons';
    vertical-align: middle;
    margin-left: -4px;
}

/* Highlights */
mark {
    background-color: transparent;
    padding: 0px !important;
    border-radius: 1px;
    text-decoration: underline;
    text-decoration-color: hsl(var(--cl-secondary));
    text-decoration-thickness: 4px;
    color: var(--ls-primary-text-color);
    text-underline-offset: 0px;
    text-decoration-skip-ink: none;
}
mark>code {
    background-color: transparent !important;
    color: hsl(var(--cl-primary), 1) !important;
    line-height: inherit!important;
    padding: 0px 2px;
}
mark>code:before, mark>code:after {
    content: "`";
}
/* Blockquotes */
blockquote {
    background-color: hsl(var(--cl-accent), 0.05);
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid hsl(var(--cl-accent));
    padding-top: 15px;
    padding-bottom: 15px;
}

blockquote:before {
    content: "\ee09";
    font-family: 'tabler-icons';
    align-self: center;
    color: hsl(var(--cl-accent));
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}

/*  === Headings ===  */
.editor-inner .multiline-block:is(.h1,.h2,.h3,.h4,.h5,.h6):first-line, .editor-inner .uniline-block:is(.h1,.h2,.h3,.h4,.h5,.h6), .ls-block :is(h1,h2,h3,h4,h5,h6) {
    font-weight: 600;
}
.editor-inner .uniline-block:is(.h1,.h2), .ls-block :is(h1,h2) {
    margin: 0px;
}
.ls-block h1, .editor-inner .uniline-block.h1 {
    border-bottom: 0px;
  }
.ls-block h2, .editor-inner .uniline-block.h2 {
    border-bottom: 0px;
}

/* === PRIORITIES === */
a[priority]:not(a[priority=""])::before, a.priority::before {
    font-size: 16px;
    font-family: 'tabler-icons';
    vertical-align: bottom;
  }
  a[priority]:not(a[priority=""]), a.priority {
    font-size: 0px;
    opacity: 0.8;
    font-weight: 500;
  }
  a[priority="A"]::before, a.priority[href="#/page/A" i]::before {
      content: "\ea66";
      color: #ef4444;
  }
  a[priority="B"]::before, a.priority[href="#/page/B" i]::before {
    content: "\ee87";
    color: #f59e0b;
  }
  a[priority="C"]::before, a.priority[href="#/page/C" i]::before {
      content: "\ea5f";
      color: #3b82f6;
  }

/*  === Checkboxes ===  */
.form-checkbox {
    background-color: var(--cl-checkbox-background, --bg-dark) !important;
    border: var(--cl-checkbox-border, 1px);
    border-style: solid;
    border-color: hsl(var(--cl-text-color), 0.15);
    border-radius: var(--cl-checkbox-radius, 50%);
    position: relative;
    opacity: var(--cl-checkbox-opacity, 1);
    top: -1.6px;
    width: 14px;
    height: 14px;
}
.form-checkbox:checked {
    background-color: #5e9b71 !important;
    opacity: 1;
}

/* TASK NAMES */
.block-marker {
    font-size: inherit;
    color: hsl(var(--cl-secondary), (0, 0, 50));
    opacity: 0.5;
    font-weight: 500;
}
.block-marker:hover {
    color: hsl(var(--cl-secondary));
    opacity: 1;
}
.block-marker.TODO, .block-marker.DOING, .block-marker.NOW, .block-marker.wait, .block-marker.waiting, .block-marker.LATER {
    font-size: var(--cl-marker-size, 0px);
    color: hsl(var(--cl-marker-color, --cl-secondary));
    font-weight: 600;
}
.block-marker:hover:before {
    opacity: 1;
}
.block-marker.TODO:before, .block-marker.DOING:before, .block-marker.NOW:before, .block-marker.WAIT:before, .block-marker.waiting:before, .block-marker.LATER:before {
    font-size: var(--cl-marker-pre-size, 16px);
    font-weight: 700;
    color: hsl(var(--cl-marker-color, --cl-secondary));
    opacity: 0.9;
}
h1.todo .block-marker.TODO:before, h1.todo .block-marker.DOING:before, h1.todo .block-marker.NOW:before, h1.todo .block-marker.WAIT:before, h1.todo .block-marker.waiting:before, h1.todo .block-marker.LATER:before {
    font-size: 32px;
}
h2.todo .block-marker.TODO:before, h2.todo .block-marker.DOING:before, h2.todo .block-marker.NOW:before, h2.todo .block-marker.WAIT:before, h2.todo .block-marker.waiting:before, h2.todo .block-marker.LATER:before {
    font-size: 24px;
}
h3.todo .block-marker.TODO:before, h3.todo .block-marker.DOING:before, h3.todo .block-marker.NOW:before, h3.todo .block-marker.WAIT:before, h3.todo .block-marker.waiting:before, h3.todo .block-marker.LATER:before {
    font-size: 18.72px;
}
/*
.block-marker.TODO:before {
    content: " ";
    background-color: forestgreen;
    font-size: 3px;
    opacity: 1;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: -1.5px;
    margin-left: -7px;
    padding-right: 3px;
    margin-right: 2px;
    padding-top: 6px;
}
.block-marker.DOING:before {
    content: " ";
    background-color: orange;
    font-size: 3px;
    opacity: 1;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: -1.5px;
    margin-left: -7px;
    padding-right: 3px;
    margin-right: 2px;
    padding-top: 6px;
}
.block-marker.NOW:before {
    content: " ";
    background-color: firebrick;
    font-size: 3px;
    opacity: 1;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: -1.5px;
    margin-left: -7px;
    padding-right: 3px;
    margin-right: 2px;
    padding-top: 6px;
}
.block-marker.wait:before {
    content: " ";
    background-color: darkgray;
    font-size: 3px;
    opacity: 1;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: -1.5px;
    margin-left: -7px;
    padding-right: 3px;
    margin-right: 2px;
    padding-top: 6px;
}
.block-marker.waiting:before {
    content: " ";
    background-color: darkgray;
    font-size: 3px;
    opacity: 1;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: -1.5px;
    margin-left: -7px;
    padding-right: 3px;
    margin-right: 2px;
    padding-top: 6px;
}
.block-marker.LATER:before {
    content: " ";
    background-color: dodgerblue;
    font-size: 3px;
    opacity: 1;
    border-radius: 2px;
    position: relative;
    left: 3px;
    top: -1.5px;
    margin-left: -7px;
    padding-right: 3px;
    margin-right: 2px;
    padding-top: 6px;
}
*/
.block-marker.TODO:before {
    content: "T";
}
.block-marker.DOING:before {
    content: "D";
}
.block-marker.NOW:before {
    content: "N";
}
.block-marker.WAIT:before {
    content: "W";
}

.block-marker.waiting:before {
    content: "W";
}
.block-marker.LATER:before {
    content: "L";
}
.mr-1.flex.flex-row.items-center.sm\:mr-2 {
    position: relative;
    top: 2px;
}

/*.page-property-key:before {
    content: "\ee8f";
    font-family: 'tabler-icons';
    padding-right: 4px;
    vertical-align: bottom;
    color: hsl(var(--cl-text-color), 0.75);
    font-weight: 100;
    vertical-align: baseline;
}*/

.page-property-key[data-ref="source"]:before {
    content: "\eb54";
}
.page-property-key[data-ref="author"]:before {
    content: "\eb4d";
}
.page-property-key[data-ref="summary"]:before {
    content: "\ee09";
}
.page-property-key[data-ref="file"]:before {
    content: "\eaa4";
}
.page-property-key[data-ref="file-path"]:before {
    content: "\eaa4";
}
.page-property-key[data-ref*="resource"]:before {
    content: "\eff2";
}
.page-property-key[data-ref*="keywords"]:before {
    content: "\eabc";
}
.page-property-key[data-ref*="tags"]:before {
    content: "\ef86";
}
.page-property-key[data-ref*="status"]:before {
    content: "\ea5e";
}
.page-property-key[data-ref*="date"]:before {
    content: "\ea53";
}

/*.page-properties .inline.mr-1:before {
    content: "â—";
    color: var(--ls-block-bullet-color);
    padding-right: 10px;
    vertical-align: middle;
    font-size: 8px;
}
    
.page-properties > div > .page-property-key {
    display: -webkit-inline-box;
    min-width: 220px;
    max-width: 220px;
    text-transform: capitalize;
    font-weight: 400;
}
    
.page-properties {
      background: transparent !important;
      display: inline-block;
}
.page-properties > div > span.mr-1 {
    display: none;
}
    
.page-properties > div {
      padding: 2px 0px;
      display: flex;
}

.pre-block .bullet-container {
    display: none;
}

/* ==== ADMON PANELS ==== */
.admonition-icon {
    display: none;
}
.abstract, .admonitionblock {
    margin: 0px;
}
.color-level .flex.flex-row.admonitionblock.align-items:is(.note, .tip, .warning, .important, .caution, .pinned):before {
    background-color: var(--bg-color-1);
}
.flex.flex-row.admonitionblock.align-items.note {
    background-color: #448aff0d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #448aff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}
.flex.flex-row.admonitionblock.align-items.note:before {
    content: "\eb04";
    font-family: 'tabler-icons';
    align-self: center;
    color: #448aff;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}
.flex.flex-row.admonitionblock.align-items.tip {
    background-color: #1ebfa50d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #1ebfa5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}
.flex.flex-row.admonitionblock.align-items.tip:before {
    content: "\ea51";
    font-family: 'tabler-icons';
    align-self: center;
    color: #1ebfa5;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}
.flex.flex-row.admonitionblock.align-items.important {
    background-color: #ff52520d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #ff5252;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}
.flex.flex-row.admonitionblock.align-items.important:before {
    content: "\eb48";
    font-family: 'tabler-icons';
    align-self: center;
    color: #ff5252;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}
.flex.flex-row.admonitionblock.align-items:is(.warning, .caution) {
    background-color: #ff91000d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #ff9100;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}
.flex.flex-row.admonitionblock.align-items:is(.warning, .caution):before {
    content: "\ea06";
    font-family: 'tabler-icons';
    align-self: center;
    color: #ff9100;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}
.flex.flex-row.admonitionblock.align-items.pinned {
    background-color: #7c4dff0d;
    color: var(--ls-primary-text-color);
    display: flex;
    padding-left: 0px;
    border-left: 2px solid #7c4dff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 12px;
}
.flex.flex-row.admonitionblock.align-items.pinned:before {
    content: "\ed60";
    font-family: 'tabler-icons';
    align-self: center;
    color: #7c4dff;
    position: relative;
    left: -9px;
    z-index: 3;
    background-color: var(--bg-color);
    padding-bottom: 2px;
    border-radius: 1px;
}

/* Block Control Arrow */
svg.h-4.w-4 {
    color: var(--ls-secondary-text-color);
}
/* Block Properties */
.page-property-key {
    color: hsl(var(--cl-text-color));
    text-transform: lowercase;
}
.page-property-key:hover {
    color: hsl(var(--cl-text-color));
    background-color: transparent;
}

/* Block Properties */
.page-properties, .color-level .page-properties {
    letter-spacing: 0px !important;
    word-spacing: normal !important;
    font-family: var(--ls-font-family) !important;
    background-color: hsl(var(--cl-background), 0.35);
    border-radius: 2px;
    padding: 2px 5px !important;
    margin: 0px !important;
}
.page-properties a.tag {
    background-color: transparent;
    padding: 0px;
    border: 0px solid;
    color: hsl(var(--cl-accent));
    font-weight: 400;
}
.page-properties a.tag:hover {
    color: hsl(var(--cl-accent));
}
.page-properties a.tag .awLinks-page-icon {
    display: none;
}
/* Some values take on important to avoid style plugins from overriding these settings */
.block-properties:not(.page-properties) {
    background-color: var(--bg-color-1);
    border-radius: var(--cl-border-minor);
    display: contents;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px 0px !important;
    font-size: smaller !important;
    letter-spacing: 0px !important;
    word-spacing: normal !important;
    font-family: var(--ls-font-family) !important;
    color: hsl(var(--cl-text-color), 0.75);
}

/* hide icons for properties */
.block-properties:not(.page-properties) .page-ref .awLinks-page-icon {
    display: none;
}
/* Tags inside block properties */
.block-properties:not(.page-properties) a.tag {
    background-color: transparent;
    padding: 0px;
    color: hsl(var(--cl-accent));
    border: 0px solid;
    font-weight: 400;
    font-size: 13px;
}
.block-properties:not(.page-properties) a.tag:hover {
    color: hsl(var(--cl-accent));
}
.block-properties:not(.page-properties) .bracket {
    display: none;
}
.block-properties :not(page-properties) + .block-body {
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
/* Tags */
a.tag {
    background-color: hsl(var(--cl-accent), 0.2);
    color: hsl(var(--cl-accent), 0.85);
    opacity: 1;
    padding: 0px 5px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    font-size: small;
    border: 0px solid;
    border-color: hsl(var(--cl-accent), 0.15);
    transition: 0.2s;
    vertical-align: middle;
    font-weight: 500;
    position: relative;
    top: -1px;
}
a.tag:hover {
    color: hsl(var(--cl-accent), 1);
    opacity: 1;
}
.ls-block :is(h1, h2, h3, h4, h5, h6) a.tag {
    font-weight: bold;
}