@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-url: url(https://i.imgur.com/HXoGeOC.jpg);
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 15%;
    --primary-color-h: 200;
    --primary-color-s: 17%;
    --primary-color-l: 48%;
    --secondary-color-h: 200;
    --secondary-color-s: 17%;
    --secondary-color-l: 48%;
    --accent-color-h: 200;
    --accent-color-s: 17%;
    --accent-color-l: 48%;
    --primary-text-h: 0;
    --primary-text-s: 0%;
    --primary-text-l: 82%;
}

.white-theme,
html[data-theme='light'] {
    --bg-url: url(https://wallpaperaccess.com/download/minimalist-nature-99836);
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 100%;
    --primary-color-h: 255;
    --primary-color-s: 37%;
    --primary-color-l: 61%;
    --secondary-color-h: 175;
    --secondary-color-s: 34%;
    --secondary-color-l: 62%;
    --accent-color-h: 189;
    --accent-color-s: 56%;
    --accent-color-l: 47%;
    --primary-text-h: 0;
    --primary-text-s: 14%;
    --primary-text-l: 14%;
}