@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-url: url(https://images.unsplash.com/photo-1481151500463-1fa2dd2d5dbe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3000&q=80);
    --background-color-h: 231;
    --background-color-s: 15%;
    --background-color-l: 18%;
    --primary-color-h: 325;
    --primary-color-s: 100%;
    --primary-color-l: 71%;
    --secondary-color-h: 200;
    --secondary-color-s: 100%;
    --secondary-color-l: 67%;
    --accent-color-h: 200;
    --accent-color-s: 100%;
    --accent-color-l: 75%;
    --primary-text-h: 0;
    --primary-text-s: 0%;
    --primary-text-l: 98%;
}

.white-theme,
html[data-theme='light'] {
    --bg-url: url(https://wallpaperaccess.com/download/minimalist-art-284639);
    --background-color-h: 210;
    --background-color-s: 25%;
    --background-color-l: 98%;
    --primary-color-h: 179;
    --primary-color-s: 82%;
    --primary-color-l: 40%;
    --secondary-color-h: 325;
    --secondary-color-s: 90%;
    --secondary-color-l: 69%;
    --accent-color-h: 200;
    --accent-color-s: 93%;
    --accent-color-l: 48%;
    --primary-text-h: 234;
    --primary-text-s: 10%;
    --primary-text-l: 37%;
}