@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-url: url(https://4kwallpapers.com/images/wallpapers/lakeside-evening-deer-minimal-art-landscape-scenic-panorama-7680x3215-4585.png);
    --background-color-h: 192;
    --background-color-s: 100%;
    --background-color-l: 11%;
    --primary-color-h: 205;
    --primary-color-s: 69%;
    --primary-color-l: 49%;
    --secondary-color-h: 68;
    --secondary-color-s: 100%;
    --secondary-color-l: 30%;
    --accent-color-h: 175;
    --accent-color-s: 52%;
    --accent-color-l: 43%;
    --primary-text-h: 186;
    --primary-text-s: 8%;
    --primary-text-l: 55%;
}

.white-theme,
html[data-theme='light'] {
    --bg-url: url(https://4kwallpapers.com/images/wallpapers/lakeside-pink-sky-sunset-minimal-art-gradient-background-7680x3215-4584.png);
    --background-color-h: 44;
    --background-color-s: 87%;
    --background-color-l: 94%;
    --primary-color-h: 205;
    --primary-color-s: 69%;
    --primary-color-l: 39%;
    --secondary-color-h: 68;
    --secondary-color-s: 100%;
    --secondary-color-l: 30%;
    --accent-color-h: 331;
    --accent-color-s: 64%;
    --accent-color-l: 52%;
    --primary-text-h: 194;
    --primary-text-s: 15%;
    --primary-text-l: 39%;
}