@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 278;
    --background-color-s: 12%;
    --background-color-l: 18%;
    --cl-text-color: 278,13%,83%;
    --primary-color-h: 114;
    --primary-color-s: 83%;
    --primary-color-l: 79%;
    --cl-primary: 114,83%,79%;
    --secondary-color-h: 213;
    --secondary-color-s: 56%;
    --secondary-color-l: 51%;
    --cl-secondary: 213,56%,51%;
    --accent-color-h: 44;
    --accent-color-s: 61%;
    --accent-color-l: 78%;
    --cl-accent: 44,61%,78%;
    --primary-text-h: 278;
    --primary-text-s: 13%;
    --primary-text-l: 83%;
    --cl-yellow: ;
}