@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 15%;
    --cl-text-color: 0,0%,82%;
    --primary-color-h: 200;
    --primary-color-s: 17%;
    --primary-color-l: 48%;
    --cl-primary: 200,17%,48%;
    --secondary-color-h: 20;
    --secondary-color-s: 19%;
    --secondary-color-l: 48%;
    --cl-secondary: 20,19%,48%;
    --accent-color-h: 0;
    --accent-color-s: 87%;
    --accent-color-l: 74%;
    --cl-accent: 0,87%,74%;
    --primary-text-h: 0;
    --primary-text-s: 0%;
    --primary-text-l: 82%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 100%;
    --cl-text-color: 38,9%,24%;
    --accent-color-h: 358;
    --accent-color-s: 99%;
    --accent-color-l: 35%;
    --cl-accent: 203,82%,35%;
    --primary-color-h: 196;
    --primary-color-s: 85%;
    --primary-color-l: 35%;
    --cl-primary: 203,82%,35%;
    --secondary-color-h: 40;
    --secondary-color-s: 100%;
    --secondary-color-l: 43%;
    --cl-secondary: 203,82%,35%;
    --primary-text-h: 38;
    --primary-text-s: 9%;
    --primary-text-l: 24%;
}