@import './base.css';
.white-theme,
html[data-theme='light'] {
    --background-color-h: 33;
    --background-color-s: 36%;
    --background-color-l: 98%;
    --cl-text-color: 34,8%,35%;
    --cl-primary: 0,22%,48%;
    --cl-secondary: 300,17%,53%;
    --cl-accent: 160,19%,46%;
}