@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 20;
    --background-color-s: 3%;
    --background-color-l: 19%;
    --cl-text-color: 48,87%,88%;
    --cl-primary: 3,76%,65%;
    --cl-secondary: 37,62%,59%;
    --cl-accent: 167,23%,59%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 46;
    --background-color-s: 33%;
    --background-color-l: 84%;
    --cl-text-color: 36,14%,22%;
    --primary-color-h: 0;
    --primary-color-s: 49%;
    --primary-color-l: 52%;
    --cl-primary: 0,49%,52%;
    --secondary-color-h: 191;
    --secondary-color-s: 28%;
    --secondary-color-l: 37%;
    --cl-secondary: 191,28%,37%;
    --accent-color-h: 70;
    --accent-color-s: 45%;
    --accent-color-l: 33%;
    --cl-accent: 70,45%,33%;
    --primary-text-h: 36;
    --primary-text-s: 14%;
    --primary-text-l: 22%;
}