@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 0;
    --background-color-s: 1%;
    --background-color-l: 16%;
    --cl-text-color: 38,41%,71%;
    --primary-color-h: 3;
    --primary-color-s: 76%;
    --primary-color-l: 65%;
    --cl-primary: 3,76%,65%;
    --secondary-color-h: 37;
    --secondary-color-s: 62%;
    --secondary-color-l: 59%;
    --cl-secondary: 37,62%,59%;
    --accent-color-h: 24;
    --accent-color-s: 76%;
    --accent-color-l: 61%;
    --cl-accent: 24,76%,61%;
    --primary-text-h: 38;
    --primary-text-s: 41%;
    --primary-text-l: 71%;
    --cl-yellow: ;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 46;
    --background-color-s: 33%;
    --background-color-l: 96%;
    --cl-text-color: 36,14%,22%;
    --primary-color-h: 0;
    --primary-color-s: 49%;
    --primary-color-l: 52%;
    --cl-primary: 0,49%,52%;
    --secondary-color-h: 191;
    --secondary-color-s: 28%;
    --secondary-color-l: 37%;
    --cl-secondary: 191,28%,37%;
    --accent-color-h: 70;
    --accent-color-s: 45%;
    --accent-color-l: 33%;
    --cl-accent: 70,45%,33%;
    --primary-text-h: 36;
    --primary-text-s: 14%;
    --primary-text-l: 22%;
    --cl-yellow: ;
}