@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 225;
    --background-color-s: 7%;
    --background-color-l: 14%;
    --cl-text-color: 230,6%,81%;
    --primary-color-h: 25;
    --primary-color-s: 85%;
    --primary-color-l: 55%;
    --cl-primary: 25,85%,55%;
    --secondary-color-h: 313;
    --secondary-color-s: 32%;
    --secondary-color-l: 60%;
    --cl-secondary: 313,32%,60%;
    --accent-color-h: 196;
    --accent-color-s: 64%;
    --accent-color-l: 58%;
    --cl-accent: 196,64%,58%;
    --primary-text-h: 230;
    --primary-text-s: 6%;
    --primary-text-l: 81%;
}