@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-gradient: radial-gradient(circle, rgba(242,78,66,1) 0%, rgba(44,38,33,1) 41%);
    --background-color-h: 27;
    --background-color-s: 14%;
    --background-color-l: 15%;
    --cl-text-color: 33,50%,80%;
    --accent-color-h: 198;
    --accent-color-s: 57%;
    --accent-color-l: 55%;
    --cl-accent: 198,57%,55%;
    --secondary-color-h: 4;
    --secondary-color-s: 90%;
    --secondary-color-l: 61%;
    --cl-secondary: 4,90%,61%;
    --primary-color-h: 50;
    --primary-color-s: 100%;
    --primary-color-l: 46%;
    --cl-primary: 50,100%,46%;
    --primary-text-h: 33;
    --primary-text-s: 50%;
    --primary-text-l: 80%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 0%;
    --background-color-l: 93%;
    --cl-text-color: 0,0%,27%;
    --cl-primary: 198,100%,26%;
    --cl-secondary: 153,100%,34%;
    --cl-accent: 322,100%,42%;
}