@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --bg-gradient: radial-gradient(circle, rgba(242,78,66,1) 0%, rgba(44,38,33,1) 41%);
    --background-color-h: 27;
    --background-color-s: 14%;
    --background-color-l: 15%;
    --cl-text-color: 33,50%,80%;
    --accent-color-h: 198;
    --accent-color-s: 57%;
    --accent-color-l: 55%;
    --cl-accent: 198,57%,55%;
    --secondary-color-h: 4;
    --secondary-color-s: 90%;
    --secondary-color-l: 61%;
    --cl-secondary: 4,90%,61%;
    --primary-color-h: 50;
    --primary-color-s: 100%;
    --primary-color-l: 46%;
    --cl-primary: 50,100%,46%;
    --primary-text-h: 33;
    --primary-text-s: 50%;
    --primary-text-l: 80%;
}

.white-theme,
html[data-theme='light'] {
    --bg-gradient: radial-gradient(circle, rgba(44,38,33,1) 82%, rgba(242,78,66,1) 100%);
    --background-color-h: 33;
    --background-color-s: 36%;
    --background-color-l: 95%;
    --cl-text-color: 31,45%,20%;
    --secondary-color-h: 43;
    --secondary-color-s: 100%;
    --secondary-color-l: 37%;
    --cl-secondary: 43,100%,37%;
    --primary-color-h: 205;
    --primary-color-s: 66%;
    --primary-color-l: 46%;
    --cl-primary: 205,66%,46%;
    --accent-color-h: 4;
    --accent-color-s: 72%;
    --accent-color-l: 55%;
    --cl-accent: 4,72%,55%;
    --primary-text-h: 31;
    --primary-text-s: 45%;
    --primary-text-l: 20%;
}