@import './base.css';

/* Comment */

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 25%;
    --background-color-l: 97%;
    --cl-text-color: 353,20%,66%;
    --primary-color-h: 288;
    --primary-color-s: 40%;
    --primary-color-l: 73%;
    --cl-primary: 288,40%,73%;
    --secondary-color-h: 248;
    --secondary-color-s: 44%;
    --secondary-color-l: 78%;
    --cl-secondary: 248,44%,78%;
    --accent-color-h: 209;
    --accent-color-s: 63%;
    --accent-color-l: 70%;
    --cl-accent: 209,63%,70%;
    --primary-text-h: 353;
    --primary-text-s: 20%;
    --primary-text-l: 66%;
    --cl-gray: rgb(217,200,200);
}