@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 216;
    --background-color-s: 11%;
    --background-color-l: 18%;
    --cl-text-color: 74,15%,73%;
    --primary-color-h: 14;
    --primary-color-s: 51%;
    --primary-color-l: 63%;
    --cl-primary: 14,51%,63%;
    --secondary-color-h: 209;
    --secondary-color-s: 13%;
    --secondary-color-l: 35%;
    --cl-secondary: 209,13%,35%;
    --accent-color-h: 14;
    --accent-color-s: 51%;
    --accent-color-l: 63%;
    --cl-accent: 14,51%,63%;
    --primary-text-h: 74;
    --primary-text-s: 15%;
    --primary-text-l: 73%;
    --cl-yellow: ;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 220;
    --background-color-s: 23%;
    --background-color-l: 95%;
    --cl-text-color: 209,13%,35%;
    --primary-color-h: 16;
    --primary-color-s: 29%;
    --primary-color-l: 54%;
    --cl-primary: 16,29%,54%;
    --secondary-color-h: 210;
    --secondary-color-s: 19%;
    --secondary-color-l: 63%;
    --cl-secondary: 210,19%,63%;
    --accent-color-h: 210;
    --accent-color-s: 19%;
    --accent-color-l: 63%;
    --cl-accent: 210,19%,63%;
    --primary-text-h: 209;
    --primary-text-s: 13%;
    --primary-text-l: 35%;
    --cl-yellow: ;
}