@import './base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 235;
    --background-color-s: 19%;
    --background-color-l: 13%;
    --cl-text-color: 229,35%,75%;
    --primary-color-h: 89;
    --primary-color-s: 51%;
    --primary-color-l: 61%;
    --cl-primary: 89,51%,61%;
    --secondary-color-h: 22;
    --secondary-color-s: 100%;
    --secondary-color-l: 70%;
    --cl-secondary: 22,100%,70%;
    --accent-color-h: 261;
    --accent-color-s: 64%;
    --accent-color-l: 73%;
    --cl-accent: 261,64%,73%;
    --primary-text-h: 229;
    --primary-text-s: 35%;
    --primary-text-l: 75%;
    --cl-gray: rgb(68,75,106);
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 240;
    --background-color-s: 33%;
    --background-color-l: 99%;
    --cl-text-color: 210,21%,11%;
    --cl-primary: 189,68%,27%;
    --cl-secondary: 348,35%,41%;
    --cl-accent: 261,24%,38%;
}