@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 221;
    --background-color-s: 15%;
    --background-color-l: 22%;
    --cl-background: 221,15%,32%;
    --cl-text-color: 210,7%,94%;
    --cl-primary: 14,58%,55%;
    --cl-secondary: 218,22%,55%;
    --cl-accent: 53,89%,79%;
}