@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 192;
    --background-color-s: 6%;
    --background-color-l: 15%;
    --cl-text-color: 0,7%,85%;
    --primary-color-h: 183;
    --primary-color-s: 76%;
    --primary-color-l: 31%;
    --cl-primary: 190,52%,66%;
    --secondary-color-h: 178;
    --secondary-color-s: 54%;
    --secondary-color-l: 64%;
    --cl-secondary: 330,74%,51%;
    --accent-color-h: 330;
    --accent-color-s: 74%;
    --accent-color-l: 51%;
    --cl-accent: 284,48%,66%;
    --primary-text-h: 0;
    --primary-text-s: 7%;
    --primary-text-l: 85%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 0;
    --background-color-s: 7%;
    --background-color-l: 94%;
    --cl-text-color: 192,6%,15%;
    --primary-color-h: 183;
    --primary-color-s: 76%;
    --primary-color-l: 31%;
    --cl-primary: 183,76%,31%;
    --secondary-color-h: 190;
    --secondary-color-s: 37%;
    --secondary-color-l: 60%;
    --cl-secondary: 330,74%,51%;
    --accent-color-h: 199;
    --accent-color-s: 77%;
    --accent-color-l: 45%;
    --cl-accent: 190,37%,60%;
    --primary-text-h: 192;
    --primary-text-s: 6%;
    --primary-text-l: 15%;
}