@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 187;
    --background-color-s: 78%;
    --background-color-l: 12%;
    --cl-text-color: 187,100%,95%;
    --primary-color-h: 155;
    --primary-color-s: 78%;
    --primary-color-l: 60%;
    --cl-primary: 155,78%,60%;
    --secondary-color-h: 187;
    --secondary-color-s: 78%;
    --secondary-color-l: 60%;
    --cl-secondary: 187,78%,60%;
    --accent-color-h: 339;
    --accent-color-s: 62%;
    --accent-color-l: 67%;
    --cl-accent: 339,62%,67%;
    --primary-text-h: 187;
    --primary-text-s: 100%;
    --primary-text-l: 95%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 180;
    --background-color-s: 20%;
    --background-color-l: 98%;
    --cl-text-color: 187,100%,15%;
    --primary-color-h: 155;
    --primary-color-s: 100%;
    --primary-color-l: 35%;
    --cl-primary: 155,100%,35%;
    --secondary-color-h: 187;
    --secondary-color-s: 100%;
    --secondary-color-l: 42%;
    --cl-secondary: 187,100%,42%;
    --accent-color-h: 339;
    --accent-color-s: 100%;
    --accent-color-l: 67%;
    --cl-accent: 339,100%,67%;
    --primary-text-h: 187;
    --primary-text-s: 100%;
    --primary-text-l: 15%;
}