@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 220;
    --background-color-s: 13%;
    --background-color-l: 18%;
    --cl-text-color: 204,20%,69%;
    --primary-color-h: 204;
    --primary-color-s: 83%;
    --primary-color-l: 62%;
    --cl-primary: 204,83%,62%;
    --secondary-color-h: 95;
    --secondary-color-s: 38%;
    --secondary-color-l: 62%;
    --cl-secondary: 95,38%,62%;
    --accent-color-h: 286;
    --accent-color-s: 60%;
    --accent-color-l: 67%;
    --cl-accent: 286,60%,67%;
    --primary-text-h: 204;
    --primary-text-s: 20%;
    --primary-text-l: 69%;
}