@import '../code/base.css';

.dark-theme,
html[data-theme='dark'] {
    --background-color-h: 195;
    --background-color-s: 4%;
    --background-color-l: 22%;
    --cl-text-color: 34,78%,91%;
    --primary-color-h: 145;
    --primary-color-s: 34%;
    --primary-color-l: 49%;
    --cl-primary: 145,34%,49%;
    --secondary-color-h: 343;
    --secondary-color-s: 92%;
    --secondary-color-l: 67%;
    --cl-secondary: 343,92%,67%;
    --accent-color-h: 18;
    --accent-color-s: 100%;
    --accent-color-l: 61%;
    --cl-accent: 18,100%,61%;
    --primary-text-h: 34;
    --primary-text-s: 78%;
    --primary-text-l: 91%;
}

.white-theme,
html[data-theme='light'] {
    --background-color-h: 33;
    --background-color-s: 45%;
    --background-color-l: 92%;
    --cl-text-color: 195,4%,22%;
    --primary-color-h: 145;
    --primary-color-s: 34%;
    --primary-color-l: 49%;
    --cl-primary: 145,34%,49%;
    --secondary-color-h: 343;
    --secondary-color-s: 92%;
    --secondary-color-l: 67%;
    --cl-secondary: 343,92%,67%;
    --accent-color-h: 18;
    --accent-color-s: 100%;
    --accent-color-l: 61%;
    --cl-accent: 18,100%,61%;
    --primary-text-h: 195;
    --primary-text-s: 4%;
    --primary-text-l: 22%;
}